.vs
.vscode
API/bin
API/obj
Application/bin
Application/obj
Domain/bin
Domain/obj
Infrastructure/bin
Infrastructure/obj

# Environment-specific application settings
API/appsettings*.json
!API/appsettings.Development.json
